.main-nav {
  position: fixed;
  width: 100%;
  font-family: 'maison_book', sans-serif;
  background: #fff;
  z-index: 100;
  box-shadow: 1.2px 1.6px 6px 0px rgba(0, 0, 0, 0.17);

  .container-nav {
    max-width: 1430px;
    margin: 0 auto;

    @include breakpoint(tablet) {
      padding: 0 15px;
    }

    @include breakpoint(desktop) {
      display: flex;

      & > div {
        flex: 1;
      }
    }
  }

  .nav-logo {
    float: left;
    padding: 10px 0 10px 40px;

    img {
      width: auto;

      @include breakpoint(mobileonly) {
        height: 40px;
      }

      @include breakpoint(tablet) {
        height: 51px;
      }
    }
  }

  .menu-container {
    @include breakpoint(mobileonly) {
      .menu-icon {
        cursor: pointer;
        display: block;
        float: right;
        padding: 30px 40px;
        user-select: none;

        .navicon {
          background: #000;
          display: block;
          height: 3px;
          position: relative;
          transition: background 0.2s ease-out;
          width: 40px;

          &:before,
          &:after {
            background: #000;
            content: '';
            display: block;
            height: 100%;
            position: absolute;
            transition: all 0.2s ease-out;
            width: 100%;
          }

          &:before {
            top: -12px;
          }

          &:after {
            top: 12px;
          }
        }
      }
    }

    .menu-btn:checked ~ {
      .main-nav-list {
        max-height: 100%;
      }

      .menu-icon .navicon {
        background: transparent;

        &:before {
          transform: rotate(-45deg);
        }

        &:after {
          transform: rotate(45deg);
        }
      }

      .menu-icon:not(.steps) .navicon:before,
      .menu-icon:not(.steps) .navicon:after {
        top: 0;
      }
    }
  }

  ul {
    list-style: none;
    background-color: #fff;

    @include breakpoint(mobileonly) {
      overflow: hidden;
      text-align: center;

      & > :first-child {
        padding-top: 50px;
        position: relative;

        &:before {
          position: absolute;
          content: '';
          left: 0;
          right: 0;
          top: 0;
          height: 5px;
          box-shadow: 1.2px 1.6px 6px 0px rgba(0, 0, 0, 0.17);
        }
      }

      & > :last-child {
        padding-bottom: 50px;
      }
    }

    li {
      @include breakpoint(tablet) {
        float: left;
        padding-right: 35px;
      }

      a {
        position: relative;
        display: block;
        text-decoration: none;
        text-transform: uppercase;
        color: #000;
        font-size: 16px;
        font-weight: bold;

        @include breakpoint(mobileonly) {
          padding: 30px 0;
        }

        @include breakpoint(tablet) {
          padding: 30px 10px 0 10px;
          z-index: 5;

          &:before {
            content: '';
            position: absolute;
            z-index: -1;
            width: 100%;
            height: 10px;
            left: 0;
            bottom: 0;
            background: $color-animated;
            transform-origin: right;
            transform: scaleX(0);
            transition: transform 0.5s;
          }

          &:hover:before {
            transform-origin: left;
            transform: scaleX(1);
          }
        }
      }
    }
  }

  .main-nav-list {
    @include breakpoint(mobileonly) {
      clear: both;
      max-height: 0;
      transition: max-height 0.2s ease-out;
    }

    @include breakpoint(tablet) {
      display: flex;
      clear: none;
      float: right;
      max-height: none;
    }

    @include breakpoint(desktop) {
      float: none;
    }
  }

  .menu-btn {
    display: none;
  }
}
