.people {
  min-height: 800px;
}

.people_title {
  font-family: 'maison_bold';
  font-size: 18px;
  color: $color-font-secondary;
  text-transform: uppercase;
  position: relative;
  padding-left: 60px;
  //   top: 140px;

  &:before {
    content: '';
    width: 27px;
    border-top: 2px solid $color-font-secondary;
    position: absolute;
    top: calc(50% - 2px);
    left: 0;
  }
}

.people_carousel {
  max-width: 970px;
  margin: 0 auto;
  padding: 350px 0 150px 0;
}

.slide {
  display: none;
}

.visible {
  display: block;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.fade {
  animation-name: fade;
  animation-duration: 2s;
}

@keyframes fade {
  from {
    opacity: 0.3;
  }

  to {
    opacity: 1;
  }
}

.people_img {
  height: 205px;
  width: 205px;
  background: url('../images/people1.png') no-repeat center;
  background-size: cover;
  border-radius: 50%;
  overflow: hidden;
  margin-top: 90px;
  margin-left: 150px;
}

.people_text {
  max-width: 500px;
  min-height: 100px;

  h2 {
    font-family: 'maison_bold';
    font-size: 28px;
    margin-left: -5px;
    padding-bottom: 20px;
  }

  span {
    font-size: 16px;
    font-family: 'maison_book';
    color: $color-font-secondary;
    text-transform: uppercase;
  }

  p {
    font-family: 'maison_book';
    font-size: 18px;
    line-height: 2;
    padding-top: 70px;
    margin-right: 30px;
  }
}

.quot {
  display: flex;
  position: absolute;
  z-index: -1;
  margin-left: -190px;
  margin-top: -145px;

  div {
    width: 102px;
    height: 189px;
    background: url('../images/quot.png') no-repeat center;
    margin-right: 40px;
  }
}

.slider_navigation {
  display: flex;
  justify-content: space-between;
  margin-top: -280px;
}

.prev_btn,
.next_btn {
  outline: none;
  display: block;
  background: none;
  border: none;
  cursor: pointer;
}

.swiper-pagination-bullet-active {
  background: yellow;
}

.section-logos {
  background: #000;
  padding: 140px 0;

  .swiper-slide {
    height: 200px;
    display: flex;
    align-items: center;
  }
}
