.section-people {

  .swiper-pagination {

    @include breakpoint(mobileonly) {
      margin-bottom: 220px;
    }

    @include breakpoint(tablet) {
      margin-bottom: 180px;
    }

    @include breakpoint(desktop) {
      display: none;
    }
  }

  .swiper-button-next,
  .swiper-button-prev {

    @include breakpoint(mobileonly) {
      display: none;
    }

    @include breakpoint(tablet) {
      display: none;
    }

    @include breakpoint(desktop) {
      display: block;
    }
  }
}


///slider navigation arrows///

.swiper-button-next {
  opacity: 1 !important;
  background-image: url(data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAjCAQAAADcI/nqAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QAAKqNIzIAAAAJcEhZcwAACxIAAAsSAdLdfvwAAAAHdElNRQfjBx4QGgmLNd4/AAAAoklEQVQ4y8XSOQoCQRCF4f8mbrE9eA6v4ZK74HIXz+BdvIFgqDNiooLwTNq0qqQFJ/54P3QN7Dgxwv1eCDHx2IAnQkw9WPGIwZTh2F8Mp4MwcY+l08/T1f/T7q37edGFX6SPMThECNmoxQEhNhZqc0aIrYV6GS3spRohVsW5bkZre6lBiHlxrhNBn9ysOBd8gjqSu8RvZ/4FcPMPDLDnytJDb1zpd7DLhJqaAAAAAElFTkSuQmCC);
}

.swiper-button-prev {
  opacity: 1 !important;
  background-image: url(data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAjCAQAAADcI/nqAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QAAKqNIzIAAAAJcEhZcwAACxIAAAsSAdLdfvwAAAAHdElNRQfjCAEOBinKvv3IAAAAlklEQVQ4y8XRPQrCQBRF4bMhFTt/QOIi1NRCEheXLWQlthZ2lsbC3BSZaec9yYCv/riHYcC6Ew9aC10QQtbShI4eVKRQGdDOs3TIlPv6lvaZckMaxaXt7NzZg+IHb2bnpqVnGhGWrhh3Q4g7Kws2CPGxYYUQPUvfYp8xXQe48MF3xnSE5qur/6edP/NDeu1Ly2JQ86IbAYgSeIQ2hhA2AAAAAElFTkSuQmCC);
}


///slider pagination bullets///

.swiper-pagination-bullet {
  width: 14px;
  height: 14px;
  background: transparent;
  border: 2px solid $color-secondary-button;
  opacity: 1;
  margin: 0 10px !important;

  &-active {
    background: $color-secondary-button;
  }
}