
@font-face {
    font-family: 'maison_bold';
    src: url('../../fonts/maisonneuetrial-bold-webfont.woff2') format('woff2'),
         url('../../fonts/maisonneuetrial-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'maison_book';
    src: url('../../fonts/maisonneuetrial-book-webfont.woff2') format('woff2'),
         url('../../fonts/maisonneuetrial-book-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'maison_italic';
    src: url('../../fonts/maisonneuetrial-bookitalic-webfont.woff2') format('woff2'),
         url('../../fonts/maisonneuetrial-bookitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'maison_light_italic';
    src: url('../../fonts/maisonneuetrial-lightitalic-webfont.woff2') format('woff2'),
         url('../../fonts/maisonneuetrial-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}